{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <div class="container">
        <div>
            <h2>Delete {{ ad.title }}</h2>
            <form action="/ad/delete/{{ ad._id['$oid'] }}" method="post">
                <p>¿Seguro que desea eliminar?.</p>
                <button type="submit" class="btn btn-danger">Eliminar</button>
                <a class="btn btn-default" href="/">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock %}
